package table

import "github.com/Oudwins/tailwind-merge-go/pkg/twmerge"

const (
	baseContainerClass = "overflow-x-auto"
	baseTableClass     = "table"
)

type Props struct {
	Classes string
	Modifier
	Size
}

func NewProps() *Props {
	return &Props{
		Classes:  "",
		Modifier: ModifierDefault,
		Size:     SizeMD,
	}
}

templ Root(p *Props, attrs templ.Attributes) {
	<div class={ twmerge.Merge(baseContainerClass, p.Classes) }>
		<table class={ twmerge.Merge(baseTableClass, p.Modifier.Class(), p.Size.Class()) } { attrs... }>
			{ children... }
		</table>
	</div>
}

templ Body() {
	<tbody>
		{ children... }
	</tbody>
}

templ Cell() {
	<td>
		{ children... }
	</td>
}

templ Head() {
	<thead>
		{ children... }
	</thead>
}

templ HeadCell() {
	<th>
		{ children... }
	</th>
}

type RowProps struct {
	Hover bool
}

func NewRowProps() *RowProps {
	return &RowProps{
		Hover: false,
	}
}

func (rp RowProps) class() string {
	classes := ""

	if rp.Hover {
		classes = twmerge.Merge(classes, "hover")
	}

	return classes
}

templ Row(p *RowProps) {
	<tr class={ p.class() }>
		{ children... }
	</tr>
}
