package stat

import "github.com/Oudwins/tailwind-merge-go/pkg/twmerge"

const (
	baseClass                = "stats"
	baseStatClass            = "stat"
	baseStatTitleClass       = "stat-title"
	baseStatFigureClass      = "stat-figure"
	baseStatValueClass       = "stat-value"
	baseStatDescriptionClass = "stat-desc"
)

type Props struct {
	Classes string
	AsChild bool
	Direction
}

func NewProps() *Props {
	return &Props{
		Classes:   "",
		AsChild:   false,
		Direction: DirectionHorizontal,
	}
}

templ Root(stats []templ.Component, p *Props, attrs templ.Attributes) {
	{{ shadowClass := "shadow" }}
	if p.AsChild {
		{{ shadowClass = "" }}
	}
	<div class={ twmerge.Merge(baseClass, shadowClass, p.Direction.Class(), p.Classes) } { attrs... }>
		for _, s := range stats {
			@s
		}
	</div>
}

templ Stat(title, description string, value templ.Component) {
	<div class={ baseStatClass }>
		if title != "" {
			<div class={ baseStatTitleClass }>
				{ title }
			</div>
		}
		@value
		if description != "" {
			<div class={ baseStatDescriptionClass }>
				{ description }
			</div>
		}
	</div>
}

templ Figure(attrs templ.Attributes) {
	<div class={ baseStatFigureClass } { attrs... }>
		{ children... }
	</div>
}

templ Value(value string) {
	<div class={ baseStatValueClass }>
		{ value }
	</div>
}
